* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #0065fe;
  --hoverColorlor: #1953a8;
  --textColorDark: #141414;
  --textColorLight: #ffffff;
  --textRegular: "gilroy-regular";
  --textBold: "gilroy-bold";
  --textMedium: "gilroy-medium";
  --textHeavy: "gilroy-heavy";
  --padding-web: 3.75rem;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Gilroy-Medium", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px 0;
  font-family: Gilroy-Medium;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--textColorDark);
}

a:hover {
  color: var(--primaryColor);
}

.btn-hover:hover {
  background-color: var(--hoverColorlor);
  color: var(--textColorLight);
}

li {
  list-style: none;
}

.menu {
  display: flex;
}

.nav-item {
  padding: 0 20px;
}

.url {
  color: var(--primaryColor);
}

.btn {
  color: var(--primaryColor);
  margin: 0 25px 0 0;
  border: 1px solid #fff;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: var(--textColorLight);
}

.btn_try {
  background-color: var(--primaryColor);
  border-radius: 20px;
  color: var(--textColorLight);
  padding: 10px 25px;
  border: none;
}

header {
  margin: 50px 0 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  max-width: 700px;
}

.text-box {
  text-align: center;
  font-weight: 800;
}

.header-text {
  padding: 30px 0;
}

.des-text {
  width: 600px;
  text-align: center;
  margin: 30px 0;
  line-height: 30px;
}

.btn-box {
  margin-top: 20px;
}

.btn-box button {
  cursor: pointer;
  margin-right: 30px;
}

.down-header {
  background-image: url("img/Vector2.png");
  height: auto;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 30px 0;
}

.frame_box {
  border: 1px solid var(--primaryColor);
  margin: 20px;
  padding: 40px;
  background: rgba(254, 254, 254, 0.1);
  backdrop-filter: blur(106px);
  border-radius: 10px;
  text-align: center;
}

.bottom-section {
  margin-bottom: 15px;
}

.bottom-img {
  width: 100%;
}

.bottom-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f9fbfd;
  padding: 20px 35px;
  gap: 4.5rem;
}

.item {
  width: 7.8rem;
  line-height: 1.5rem;
  height: 3rem;
}

.section3 {
  display: flex;
  /* flex-wrap: wrap; */
  max-width: 1440px;
  justify-content: space-around;
  padding: 8rem 4rem;
  margin: 0 auto;
}

.section3 > .header-sec3 {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.section3 > .header-sec3 .text-section {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
}

.all_items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section3-items {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.section3-subheader {
  width: 19rem;
  line-height: 1.7rem;
  font-size: 1rem;
}

.item-subheader {
  width: 21rem;
  line-height: 1.5rem;
  font-size: 1rem;
  padding-top: 0.5rem;
}

/* section4 */
.section4 {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-bottom: 5rem;
}

.header-sec4 {
  display: flex;
  align-items: flex-start;
}

.text-section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section4-header {
  font-size: 2.5rem;
}

.section4-subheader {
  width: 28rem;
  display: flex;

  text-align: center;
  line-height: 1.5rem;
}

.pricing-options {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  justify-content: center;
}

.pricing-option {
  display: flex;
  width: 23rem;
  padding: 1.5rem 2rem 3rem 2rem;
  border-radius: 12px;
  border: 0.4px solid var(--primaryColor);
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  color: var(--textColorDark);
  transition: color 0.4s ease;
  cursor: pointer;
  box-shadow: #141414;
}

.pricing-long {
  padding: 5rem 2rem 5rem 2rem;
  background: var(
    --linear-gradient,
    linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%)
  );
  color: var(--textColorLight);
  border: none;
}

.pricing-option > .txt-medium {
  text-align: center;
  font-size: 1.5rem;
  line-height: rem;
}

.txt-bold {
  text-align: center;
  font-size: 2.3rem;
  line-height: 3rem;
}

.options {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.option {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1em;
  gap: 1rem;
  line-height: 1.5rem;
}

.cta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cta > .button {
  display: flex;
  width: 12.5rem;
  height: 3rem;
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.cta > .btn1 {
  border: 1px solid var(--primaryColor);
  background-color: var(--textColorLight);
  color: var(--primaryColor);
  margin-right: 1rem;
}

.cta > .btn2 {
  background: var(--primaryColor);
  color: var(--textColorLight);
}

/* section5 */
.section5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32.4rem;
  background: var(
    --linear-gradient,
    linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%)
  );
  position: relative;
  margin-bottom: 2rem;
}

.img {
  position: absolute;
}

.img1,
.img4 {
  top: 0;
  left: 0;
}

.img3,
.img2 {
  right: 0;
  bottom: 0;
}

.card {
  display: inline-flex;
  padding: 2.6rem;
  border-radius: 12px;
  background: var(--textColorLight);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  z-index: 1;
}

.input-container > input {
  display: flex;
  width: 25rem;
  height: 3rem;
  padding: 0.5rem 0.75rem;
  border-radius: 12px;
  border: 1px solid var(--primaryColor);

  /* flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem; */
}

.input-container > input::placeholder {
  color: var(--primary-100, #3284ff);
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.card-row {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.card-row > div > select {
  display: flex;
  width: 12rem;
  height: 2.8rem;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: 1px solid var(--primaryColor);
  align-items: center;
  justify-content: space-between;
  color: var(--primary-100, #3284ff);
  font-size: 0.8rem;
}

.card-row > input {
  width: 12rem;
  height: 2.8rem;
  padding: 0.5rem 0.75rem;
  border-radius: 12px;
  border: 1px solid var(--primaryColor);
  flex-direction: column;
}

.card-row > input::placeholder {
  color: var(--primary-100, #3284ff);
  font-size: 0.75rem;
  font-family: var(--textMedium);
  line-height: 1.125rem;
}

.card > .button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  width: 24.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  background: var(--primary-400, #005ae2);
  border: none;
  outline: none;
  color: #fff;
  font-family: var(--textMedium);

  line-height: 0.75rem;
}

.card > .card-bottom {
  width: 23.3125rem;
  color: #4991ff;
  font-size: 0.875rem;
  font-family: var(--textMedium);
  line-height: 1.25rem;
}

/* FAQs */
.section-faq {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  position: relative;
}

.section-faq > div {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
}

.faq-top {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* div>.faq-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.faq-container > .faq {
  display: flex;
  width: 48rem;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
  gap: 1rem;
}

.faq-title {
  font-size: 1.1rem;
  line-height: 2rem;
}

.faq-container > .faq > img {
  width: 1.5rem;
  height: 1.5rem;
}

.faq-container > .line {
  margin: 0.8rem 0;
  height: 1px;
  background-color: #d6d6d6;
  align-self: stretch;
}

.img {
  position: absolute;
}

.img-left {
  left: 0;
  top: 0;
}

.img-right {
  right: 0;
  bottom: 0;
}

/* section7 */
.section7 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 20rem;
  background: #1e3448;
}

.section7 > .content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}

.section7-header {
  color: var(--textColorLight);
  text-align: center;
  font-size: 2.5rem;
  line-height: 3rem;
}

.button {
  width: 12.5rem;
  height: 3rem;
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  background: var(--primaryColor);
  border: none;
  color: #fff;
  font-size: 1rem;
}

/* footer */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--textColorLight);
  position: relative;
}

.footer-img-left {
  left: 0;
  bottom: 0;
  z-index: -1;
}

.footer-img-right {
  right: 0;
  bottom: 0;
  z-index: -1;
}

.footer-container > .content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 0;
}

.footer-left {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer-left-top {
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
}

.footer-left-bottom {
  display: flex;
  padding: 0rem 0.5rem;
  align-items: flex-start;
  gap: 1.5rem;
  cursor: pointer;
}

.footer-right {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.footer-right-items {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.footer-right-content {
  display: flex;
  padding: 0rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.footer-subheader {
  font-size: 1rem;
  line-height: 1.5rem;
}

.footer-last {
  position: absolute;
  right: 0;
  margin: 20px;
  bottom: 0;
}

@media (max-width: 768px) {
  .section3 {
    flex-direction: column;
    align-items: center;
  }

  .pricing-options {
    flex-direction: column;
    gap: 35px;
  }
  .section-faq img {
    display: none;
  }
}
